.musicButton{
    width: 417px;
    height: 96px;
    // padding: 17px;
    background: #1A1E1F;
    border-radius: 20px;
    color: #fff;
}

.singer{
    // height: 20px;
    color: rgba(255, 255, 255, 0.5);
}

.likeSongs{
    border-radius: 40px;
}

// .charts{
//     height: 382px;
// }

