.icon{
    background-color: #1A1E1F;
    border-radius: 32px;
    width: 50px;
    height: 200px;
}

.icons{
    background-color: #1A1E1F;
    border-radius: 32px;
    width: 50px;
    height: 107px;
    padding-top: 10px;
}