.image{
    margin: -5px;
}

.text{
    color: #fff;
}

.conatiner{
    width: 686px;
    height: 378px;
    // margin: 22px;
    padding: 27px;
}

.banner{
    width: 763px;
    height: 368px;
    background-color: #609EAF;
    border-radius: 40px;
    overflow: hidden;
}

// .playlist{
//     display: flex;
//     flex-direction: column;
//     align-items: flex-start;
//     gap: 6px;
// }

// .imgStyle{
//     // border: 0.197078px solid #FFFFFF;
//     // transform: rotate(3deg);
// }